<h1>Available reports: </h1>
<br /><br />
<% @reports.each do |report| %>
  <p>
    <%= link_to "Report nr #{report.id}", report_path(report.id) %>
    <br />
    <%= link_to "Destroy", report_path(report.id), :method => :delete %>
  </p>
<% end %>

<%= link_to "Create random new", reports_path(:xml_content => 'anycontent'), :method => :post %>